In [30]:
from models import *
from app import init_app

test_app = init_app()
test_app.config['TESTING']=True
if __name__ == "__main__":
    test_app.run(host='0.0.0.0')

 * Serving Flask app 'app'
 * Debug mode: off

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on all addresses (0.0.0.0)
 * Running on http://127.0.0.1:5000
 * Running on http://192.168.86.214:5000
Press CTRL+C to quit

In [6]:
import pandas as pd

def names_test():
    with test_app.app_context():
        students = db.session.query(Student).all()
        student_names = [student.full_student_names() for student in students]
        student_df = pd.DataFrame({'Student Full Name': student_names})

        return student_df.head()

names_test()

  Student Full Name
0    Stoddard Sarah
1      Francese Liz
2     Buell Griffin
3     Sensale Derek
4      Sensale Nora

In [35]:
from sqlalchemy import inspect

assessment_instance =db.session.query(Assessment).all()

def make_df_dynamic(class_instance):
    """Convert SQLAlchemy class instance to DataFrame dynamically."""
    with test_app.app_context():
        mapper = inspect(class_instance)
        columns = [column.key for column in mapper.attrs]

        # Create a dictionary with column names and values
        data = {column: getattr(class_instance, column) for column in columns}

        # Create a DataFrame from the dictionary
        df = pd.DataFrame([data])

        return df

make_df_dynamic

NoInspectionAvailable: No inspection system is available for object of type <class 'list'>

In [26]:
def make_df(x):
    with test_app.app_context():
        '''make class into dataframe for analysis'''
        data = db.session.query(x).all()
        df = pd.DataFrame(data)
        return df

def lit_scores_general():
    with test_app.app_context():
        assessments = make_df(Assessment)
        standards = make_df(AssessmentStandard)
        scores = make_df(AssessmentScores)

        lit_tests = assessments[['subject']] == 'Literacy'
        lit_scores = scores.where(lit_tests)
        lit_standards =standards.where(lit_tests)
        standard_lit_scores = lit_scores.merge(lit_standards, on = 'assessment_id')
        return standard_lit_scores.head()

lit_scores_general()

KeyError: "None of [Index(['subject '], dtype='object')] are in the [columns]"

In [99]:
import pandas as pd


    
def user_class_data():
    """Pandas dataframe to pull classroom data into staff profiles"""
    with test_app.app_context():
        user_staff_id = 2022115
        
        staff_classes=db.session.query(ClassroomSchoolYear,)

        class_rosters = db.session.query(StudentClasses.student_id,StudentClasses.class_sy_id).join(
            ClassroomSchoolYear, StudentClasses.class_sy_id == ClassroomSchoolYear.id
        ).filter(ClassroomSchoolYear.teacher_id == user_staff_id).all()
    
        #add student names have separate func to call?
        
        roster_df = pd.DataFrame(class_rosters)
        

        return roster_df
    
    
user_class_data()

     student_id   class_sy_id
0         11981  LGUHS-7-2022
1         12012  LGUHS-8-2022
2         12016  LGUHS-8-2022
3         12017  LGUHS-8-2022
4         12081  LGUHS-7-2022
..          ...           ...
484       12376  LGUHS-8-2022
485       12376  LGUHS-8-2022
486       12376  LGUHS-8-2022
487       12376  LGUHS-8-2022
488       12376  LGUHS-8-2022

[489 rows x 2 columns]

In [13]:
import numpy as np

def create_roster(student_id):
    with test_app.app_context():
        '''Create student roster for each user classroom'''
        student = db.session.query(Student).filter(Student.id == student_id)
        student_names = [student.full_student_names() for student in students]
        student_df = pd.DataFrame({'Student Full Name': student_names})

        return student_df.head()

def user_class_data():
    """Pandas dataframe to pull classroom data into staff profiles"""
    with test_app.app_context():
        user_staff_id = 2022115
        
        classes = (db.session.query(ClassroomSchoolYear.year_id,
                                    ClassroomSchoolYear.classroom_id,
                                    ClassroomSchoolYear.school_id,
                                    ClassroomSchoolYear.id
                                     )).filter(
                                        ClassroomSchoolYear.teacher_id==user_staff_id)
        staff_classes = pd.DataFrame({'Classes':classes})
        
        for staff_class in staff_classes:
            #get student ids
            enrolled_students = db.session.query(StudentClasses.student_id).filter(
                StudentClasses.class_sy_id == staff_class).unique()
            for student in enrolled_students:
                full_name = create_roster(student_id)
                enrolled_student.append(full_name)
        staff_classes = staff_classes.append(enrolled_students)
            
create_roster('LGUHS-8-2022')

ProgrammingError: (psycopg2.ProgrammingError) can't adapt type 'Row'
[SQL: SELECT student_classes.student_id AS student_classes_student_id
FROM student_classes
WHERE student_classes.class_sy_id = %(class_sy_id_1)s]
[parameters: {'class_sy_id_1': (2022, 'LGUHS-6', 'PS161', 'LGUHS-6-2022')}]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [104]:
import main
with test_app.app_context():
    generate_names()

ModuleNotFoundError: No module named 'main'

In [101]:
def user_class_data():
    """Pandas dataframe to pull classroom data into staff profiles"""
    with test_app.app_context():
        user_staff_id = 2022115
        
        classes = (db.session.query(ClassroomSchoolYear.year_id,
                                    ClassroomSchoolYear.classroom_id,
                                    ClassroomSchoolYear.school_id,
                                    ClassroomSchoolYear.id
                                     )).filter(
                                        ClassroomSchoolYear.teacher_id==user_staff_id)
        staff_classes = pd.DataFrame(classes)
        
    return staff_classes

user_class_data()

    year_id classroom_id school_id              id
0      2022      LGUHS-6     PS161    LGUHS-6-2022
1      2023      LGUHS-6     PS161    LGUHS-6-2023
2      2024      LGUHS-6     PS161    LGUHS-6-2024
3      2022      LGUHS-7     PS161    LGUHS-7-2022
4      2023      LGUHS-7     PS161    LGUHS-7-2023
5      2024      LGUHS-7     PS161    LGUHS-7-2024
6      2022      LGUHS-8     PS161    LGUHS-8-2022
7      2023      LGUHS-8     PS161    LGUHS-8-2023
8      2024      LGUHS-8     PS161    LGUHS-8-2024
9      2022    LGUHS-6-1     PS161  LGUHS-6-1-2022
10     2023    LGUHS-6-1     PS161  LGUHS-6-1-2023
11     2024    LGUHS-6-1     PS161  LGUHS-6-1-2024
12     2022    LGUHS-7-1     PS161  LGUHS-7-1-2022
13     2023    LGUHS-7-1     PS161  LGUHS-7-1-2023
14     2024    LGUHS-7-1     PS161  LGUHS-7-1-2024
15     2022    LGUHS-8-1     PS161  LGUHS-8-1-2022
16     2023    LGUHS-8-1     PS161  LGUHS-8-1-2023
17     2024    LGUHS-8-1     PS161  LGUHS-8-1-2024